<% provide :pagename, 'Home' %>
<h1>FixedStaticPages#home</h1>
<p>Find me in app/views/fixed_static_pages/home.html.erb</p>
Das ist die Einstiegsseite. Sie wird auch erreicht, wenn man in der Menüleiste auf <%= yield(:pagename) %> klickt.
